#html{
    font-size: 62.5%;
}
@font-face {
    font-family: "FonteTexto";
    src: url(fonte/Inter-Italic-VariableFont_opsz\,wght.ttf);
}
#titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5em;
    color:#50716C;
    margin-left: 500px;
}
.header{
    
}
.infos{
    font-family: FonteTexto,'Courier New', Courier, monospace;
    font-size: 1.2em;
    color:#606060;
    margin-left: 500px;
}

.divs{
    border-top: 0.2em solid #5c938b;
    margin: 5em
}
.subtitulos{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    color:#5c938b;
    padding-left: 3.5em;

} 

.infos_gerais{
    font-family: FonteTexto,'Courier New', Courier, monospace;
    font-size: 1.5em;
    color:#000000;
    text-align: left;
    padding-left: 3em;

}
.main{
    margin-top: 10em;

}

#body{
    background-image: url(imagens/design-space-paper-textured-background.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}
.img{
    float: left;
    width: 250px;
    height: 240px;
    margin-left: 100px;
    border-radius: 100%;

}

ul li{ 
    list-style-type: square;
    list-style-position: inside;
    
  }
  ol li{
    list-style-type: upper-roman;
    list-style-position: inside;
  }

a:link{
    color:#5c938b;
}   